.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
}

footer {
    text-align: center;
}

.cv-logo {
	height:85px;
	background:transparent url(../images/cv-logo.png) no-repeat 50% 0
}

.nav-tabs li a {
   font-fmaily: @font-family-monospace;
   font-size: 18px;
}

.navbar-brand {
   color: #fff
}

.red{
   color: red;
}

.color-primary{
   background-color: #337ab7;
}

.text-primary{
   color: #337ab7;
}

.dropdown-menu{
   max-height: 300px;
   overflow-y: auto;
}

.monospace{
   font-family: @font-family-monospace;
}

.angular-google-map-container { height: 400px; }