.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
}

footer {
    text-align: center;
}

.cv-logo {
	height:85px;
	background:transparent url(../images/cv-logo.png) no-repeat 50% 0
}

.angular-google-map-container { height: 400px; }