.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
}

footer {
    text-align: center;
}


.cv-logo {
    text-indent:-5000px;
	height:85px;
	padding:10px 0 0 0;
	background:transparent url(../img/logo-cv-login.png) no-repeat 50% 0
}