<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="modal-title">New Port:</h3>
    </div>

    <div class="panel-body">

        <div class="container col-sm-offset-2 col-sm-8">

            <span class="red" ng-show="msg">{{msg}}</span>

            <ui class="list-group">
                <li class="list-group-item">
                    <strong>Port Name: </strong>{{cpc.port.name}}
                </li>
                <li class="list-group-item">
                    <strong>Locode: </strong>{{cpc.port.locode.country}} {{cpc.port.locode.port}}
                </li>
                <li class="list-group-item">
                    <strong>Polygon: </strong>{{cpc.port.polygon.lat}}{{cpc.separator}}{{cpc.port.polygon.lon}}
                </li>
                <li class="list-group-item">
                    <strong>Vessel Max Width: </strong>{{cpc.port.limit.width}}
                </li>
                <li class="list-group-item">
                    <strong>Vessel Max length: </strong>{{cpc.port.limit.length}}{{cpc.unit}}
                </li>
            </ui>

        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cpc.confirmNewPort()">Confirm</button>
        <button class="btn btn-primary" ng-click="cpc.cancel()">Cancel</button>
    </div>
</div>