<div ng-controller="CreatePortCtrl as cpc">

    <br/><br/>

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>New Port Information: </h3>
        </div>

        <div class="panel-body">

            <br/><br/>

            <form id="CreatePortForm" name="CreatePortForm" class="form-horizontal" role="form" ng-submit="cpc.openConfirmModal()">

                <div class="form-group panel panel-default col-sm-10" ng-show="cpc.msg">
                    <div class="panel-body">
                        <span class="red">{{cpc.msg}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label id="lbl_name" for="name" class="col-sm-5 control-label">
                        <span class="red">* </span>Port Name :
                    </label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" id="name" placeholder="port name"
                               popover="Max length of the name is 30 characters"  popover-trigger="focus"
                               style="text-transform: capitalize" pattern="[\w\s-']{2,30}" ng-model="cpc.port.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label id="lbl_locode_ct" for="locode_ct" class="col-sm-5 control-label">
                        <span class="red">* </span>Country Code :
                    </label>

                    <div class="col-sm-2">
                        <input type="text"  class="form-control" name="locode_ct" id="locode_ct"
                               typeahead="opt.label for opt in cpc.countryOptions | filter: {value: $viewValue}"
                               popover="Type in 2-char country code"  popover-trigger="focus" style="text-transform: uppercase"
                               pattern="[a-zA-Z]{2}" ng-model="cpc.port.locode.country" required>
                        </input>
                    </div>

                    <label id="lbl_locode_pt" for="locode_pt" class="col-sm-2 control-label">
                        <span class="red">* </span>Port Code :
                    </label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="locode_pt" id="locode_pt" placeholder=""
                               popover="Type in 3 capital alphabets"  popover-trigger="focus" style="text-transform: uppercase"
                               ng-model="cpc.port.locode.port" pattern="[a-zA-Z]{3}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label id="lbl_latitue" for="polygon_latitue" class="col-sm-5 control-label">Latitue : </label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="polygon_latitue" id="polygon_latitue"
                               step="any" ng-model="cpc.port.polygon.latitue">
                    </div>

                    <label id="lbl_longitude" for="polygon_longitude" class="col-sm-2 control-label">Longitude : </label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="polygon_longitude" id="polygon_longitude"
                               step="any" ng-model="cpc.port.polygon.longitude">
                    </div>
                </div>

                <div class="form-group row">
                    <label id="lbl_limit_wid" for="limit_wid" class="col-sm-5 control-label">Vessel Max Width:</label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="limit_wid" id="limit_wid"
                               step="any" ng-model="cpc.port.limit.width">
                    </div>

                    <label id="lbl_limit_len" for="limit_len" class="col-sm-2 control-label">Vessel Max Length:</label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" name="limit_wid" id="limit_len"
                               step="any" ng-model="cpc.port.limit.length">
                    </div>
                </div>

                <br/><br/>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-6 text-right">
                        <button type="submit" class="btn btn-success" id="btn_create">Create port</button>&nbsp;
                        <button href="#" id="btn_reset" class="btn btn-info" ng-click="cpc.resetAll()">Reset All</button>&nbsp;
                        <button ng-href="/#/listPorts" id="btn_cancel" class="btn btn-primary">Cancel</button>
                    </div>
                </div>


            </form>

        </div>

    </div>

</div>