<div class="modal-header">
    <h3 class="modal-title">Delete Port:</h3>
</div>

<div class="modal-body">

    <div class="container">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-1">Port Name</th>
                    <th class="col-sm-1">Locode(ctry)</th>
                    <th class="col-sm-1">Locode(port)</th>
                    <th class="col-sm-2">Polygon(lat)</th>
                    <th class="col-sm-1">Polygon(lon)</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-sm-1">{{dpc.port.name}}</td>
                <td class="col-sm-1">{{dpc.port.locode.country}}</td>
                <td class="col-sm-1">{{dpc.port.locode.port}}</td>
                <td class="col-sm-2">{{dpc.port.polygon.lat}}</td>
                <td class="col-sm-1">{{dpc.port.polygon.lon}}<td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="dpc.delete()">Delete</button>
    <button class="btn btn-primary" ng-click="dpc.cancel()">Cancel</button>
</div>