<div class="modal-header">
    <h3 class="modal-title">Delete Port:</h3>
</div>

<div class="modal-body col-sm-10">

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Port Name</th>
                    <th>Locode(country)</th>
                    <th>Locode(port)</th>
                    <th>Polygon(lat)</th>
                    <th>Polygon(lon)</th>
                </tr>
            </thead>
            <tr>
                <td>{{dpc.port.name}}</td>
                <td>{{dpc.port.locode.country}}</td>
                <td>{{dpc.port.locode.port}}</td>
                <td>{{dpc.port.polygon.lat}}</td>
                <td>{{dpc.port.polygon.lon}}<td>
            </tr>
        </table>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="dpc.delete()">Delete</button>
    <button class="btn btn-primary" ng-click="dpc.cancel()">Cancel</button>
</div>