<div ng-controller="PortCtrl as pc">
    <br/>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>Start off by choosing ports with Locode (country) from A-Z:</h5>
        </div>
        <div class="panel-body">
            <tabset type="pills">
                <tab ng-repeat="cl in pc.countriesFrstChars" heading="{{cl}}" ng-click="pc.getPortsInCountriesStartsWith(cl)"></tab>
            </tabset>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-4">

            <div class="form-group" ng-show="pc.availCountries.length > 5">
                <input class="form-control" type="text" ng-model="code" placeholder="Now search by Country Code...">
                <hr>
            </div>

            <accordion close-others="true">
                <accordion-group ng-repeat="ctryCode in pc.availCountries | filter: code" is-open="status.open">
                    <accordion-heading>
                        {{ctryCode}} - {{ISOCountries[ctryCode]}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>

                    <div class="form-group" ng-show="pc.ports[ctryCode].length > 5">
                        <input class="form-control" type="text" ng-model="search" placeholder="Then search by port name...">
                    </div>

                    <table class="table table-striped">
                        <tr ng-repeat="port in pc.ports[ctryCode] | filter: {name : search}">
                            <td class="align-left">
                                {{port.locode.country }} {{port.locode.port}} ({{port.name}})
                            </td>
                            <td>
                                <button popover="edit port" popover-trigger="mouseenter"
                                        class="pull-right glyphicon glyphicon-pencil" ng-click="pc.openUpdateModal(port)"></button>
                            </td>
                            <td>
                                <button popover="delete port" popover-trigger="mouseenter"
                                        class="pull-left glyphicon glyphicon-remove" ng-click="pc.openDeleteModal(port)"></button>
                            </td>
                        </tr>
                    </table>

                </accordion-group>
                <br/>
            </accordion>

            <div ng-hide="pc.availCountries.length">
                <td colspan="3">
                    <p class="text-center">No Ports Found</p>
                </td>
            </div>
        </div>

        <div class="col-md-10">
            <div id="map_canvas" ng-hide="pc.availCountries.length">
                <ui-gmap-google-map center="pc.map.center" zoom="pc.map.zoom" draggable="true" options="pc.options">
                    <ui-gmap-markers models="pc.gmarkers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>

</div>