<div ng-controller="PortCtrl as pc">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Ports...">
                <hr>
            </div>

            <table id="port_list" class="table table-striped">
                <tbody>              
                <tr ng-repeat="port in pc.ports">
                    <td>
                        <a href="#" class="list-group-item"><strong>{{ port.locode }}</strong>({{port.name}})</a>
                    </td>
                    <td>
                        <a ng-href="/#/ports/update/{{port.name}}/{{port.locode}}" class="btn btn-success pull-right" id="btn_port_update">Update</a>
                    </td>
                </tr>
                <tr ng-hide="pc.ports.length">
                    <td colspan="3">
                        <p class="text-center">No Ports Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-8" ng-hide="pc.ports.length">
            <div id="map_canvas">
                <ui-gmap-google-map center="pc.map.center" zoom="pc.map.zoom" draggable="true" options="pc.options">
                    <ui-gmap-markers models="pc.gmarkers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>

</div>