<div ng-controller="PortCtrl as pc">
    <br/>

    <div class="panel panel-primary">
        <div class="panel-heading">Choose ports with Locode starting from <small>A-Z:</small></div>
        <div class="panel-body">
            <tabset type="pills">
                <tab ng-repeat="cl in pc.countriesFrstChars" heading="{{cl}}" ng-click="pc.loadCountries(cl)"></tab>
            </tabset>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Ports...">
                <hr>
            </div>

            <accordion close-others="true">
                <accordion-group ng-repeat="countryCode in pc.availCountries" is-open="status.open">
                    <accordion-heading>
                        {{countryCode}} - {{pc.ISOCountries[countryCode]}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>

                    <table class="table table-striped">
                        <tr ng-repeat="port in pc.ports[countryCode]">
                            <td class="align-left">
                                {{port.locode.country }} {{port.locode.port}} ({{port.name}})
                                <i class="glyphicon glyphicon-asterisk" ng-hide="port.polygon.lat"></i>
                            </td>
                            <td>
                                <button popover="edit port" popover-trigger="mouseenter"
                                        class="pull-right glyphicon glyphicon-pencil" ng-click="pc.openUpdateModal(port)"></button>
                            </td>
                            <td>
                                <button popover="delete port" popover-trigger="mouseenter"
                                        class="pull-left glyphicon glyphicon-remove" ng-click="pc.openDeleteModal(port)"></button>
                            </td>
                        </tr>
                    </table>
                </accordion-group>
                <br/>
            </accordion>

            <div ng-hide="pc.availCountries.length">
                <td colspan="3">
                    <p class="text-center">No Ports Found</p>
                </td>
            </div>
        </div>

        <div class="col-md-10">
            <div id="map_canvas" ng-hide="pc.availCountries.length">
                <ui-gmap-google-map center="pc.map.center" zoom="pc.map.zoom" draggable="true" options="pc.options">
                    <ui-gmap-markers models="pc.gmarkers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>

</div>