<div ng-controller="PortCtrl as pc">
    <br/>
    <nav>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="opensans">
                    Start viewing ports by choose Locode (country) from A-Z:
                </h5>
            </div>
            <div class="panel-body">
                <tabset type="pills">
                    <tab class="opensans" ng-repeat="cl in pc.countriesFrstChars" heading="{{cl}}"
                         ng-click="pc.getPortsInCountriesStartsWith(cl)"></tab>
                </tabset>
            </div>
        </div>
    </nav>



    <div class="row">
        <div class="col-md-5 pull-left">

            <div class="form-group" ng-show="pc.availCountries.length > 5">
                <input class="form-control" type="text" ng-model="code" placeholder="Now search by Country Code...">
            </div>

            <div class="accordion-list">
            <accordion close-others="true">
                <accordion-group ng-repeat="ctryCode in pc.availCountries | filter: code" is-open="status.open">
                    <accordion-heading>
                        <p ng-click="pc.resetMapCenterAndLoadGmarkers(ctryCode)">
                        {{ctryCode}} - {{ISOCountries[ctryCode]}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </p>
                    </accordion-heading>
                    <div class="table-list">
                    <div class="form-group" ng-show="pc.ports[ctryCode].length > 5">
                        <input class="form-control" type="text" ng-model="search" placeholder="Then search by port name...">
                    </div>

                    <table class="table table-striped">
                        <tr ng-repeat="port in pc.ports[ctryCode] | filter: {name : search}">
                            <td class="aligh-right">
                            <a href="#" ng-show="port.polygon.lat" ng-click="pc.resetMapCenter(port.polygon)" class="glyphicon glyphicon-map-marker" popover="See where I am!" popover-trigger="mouseenter"></a>
                            </td>
                            <td class="align-left">
                                <p class="port-info">{{port.locode.country }} {{port.locode.port}} ({{port.name}})</p>
                            </td>
                            <td>
                                <button popover="Update my info" popover-trigger="mouseenter"
                                        class="pull-right glyphicon glyphicon-edit" ng-click="pc.openUpdateModal(port)"></button>
                            </td>
                            <td>
                                <button popover="Or abandon me...T_T" popover-trigger="mouseenter"
                                        class="pull-left glyphicon glyphicon-trash" ng-click="pc.openDeleteModal(port)"></button>
                            </td>
                        </tr>
                    </table>
                    </div>
                </accordion-group>
                <br/>
            </accordion>
            </div>

            <div ng-hide="pc.availCountries.length">
                <td colspan="3">
                    <p class="text-center">No Ports Found</p>
                </td>
            </div>
        </div>

        <div id="map_canvas" ng-if="map.show" class="pull-right">
            <br/><br/>
            <div class="pull-right">
              <a href="#" ng-click="pc.resetMapToInitial()" class="opensans">Reset Map</a>
            </div>
            <br/>
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options"
                                bounds="map.bounds" pan="true">
                <ui-gmap-markers ng-if="pc.gmarkers" models="pc.gmarkers" doRebuildAll="true"
                                 coords="'self'" icon="'icon'">
                    <ui-gmap-windows show="'showWindow'" doRebuildAll="true">
                        <p class="opensans" ng-non-bindable>{{title}}</p>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>