<!doctype html>
<html lang="en" ng-app="cvPortsApp">
<head>
    <meta charset="utf-8">
    <title>Commodity Vector Ports Management</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
</head>

<body>
<nav class="navbar navbar-static-top color-primary" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Commodity Vector</a>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="cv-logo"></div>
        <br/>
        <p class="monospace text-center">
            <i class="glyphicon glyphicon-globe"></i> Globe Ports Data Tracking</p>
    </div>

    <section ng-controller="TabSetCtrl as tc">
        <ul class="nav nav-tabs" id="cvPortTab">
            <li ng-repeat="tb in tc.tabs" ng-class="{active: tc.isSet(tb.id)}">
                <a ng-href="{{tb.goto}}" ng-click="tc.setTab(tb.id)">{{tb.heading}}</a></li>
        </ul>
    </section>

    <div class="container-fluid" ng-view></div>

</div>

<footer>
    <hr/>
    <div><span class="text-primary">&copy;CommodityVector.com</span></div>
</footer>

</body>

<script src='@routes.Assets.at("lib/lodash/lodash.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angularjs/angular.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angularjs/angular-route.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("jslib/angular-google-maps.min.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/TabSetCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ports/PortService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ports/PortCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ports/CreatePortCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ports/UpdatePortCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/ports/ConfirmPortCtrl.js")' type="text/javascript"></script>

</html>